#toggleButton {
    position: absolute;
    display: none;  
    background-color: yellow;
    color: black;
    border-radius: 50%;
    border-style: none;
    font-size: 20px;
    padding-right: 7px;
    padding-left: 7px;
    cursor: pointer;
    z-index: 10000; 
}
  

#popUp {
    position: absolute;
    background: lightgray;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    color: black;
    z-index: 10001; 
    display: none;
}


.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 5px;
    background-color: #FAE559;
    color: black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

#addTasks, #seeAllTasks{
    position: relative;
    margin-bottom: 5px;
    margin-top: 16px;
    padding: 5px 5px;
    background-color: #FAE559;
    color: black;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

#addTasks{
    margin-left: 2px;
}

#seeAllTasks{
    margin-left: 10px;
}


#taskAddedPopUp {
    position: fixed;
    background: lightgray;
    width: 250px;
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    color: black;
    top: 25px;
    right: 25px;
    display: none;
    overflow-y: auto;
    z-index: 10002;
}

  
.tabIcon {
    width: 30px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
    padding-right: 7px;
    padding-top: 7px;
}
  
 
#completedButton {
    padding: 5px 5px;
    font-size: 13px;
    background-color: #4CAF50;
    color: white;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}


#removeButton {
    padding: 5px 5px;
    position: relative;
    font-size: 13px;
    background-color: #FF6347;
    color: black;
    border: solid;
    border-color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

  
.task {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    justify-content: space-between;
}
  

p {
    margin: 0;
}